#  Proyecto 2: <font color=blue>*Pandas Project*</font>
<img src=https://animals.sandiegozoo.org/sites/default/files/styles/image_grid_full_width/public/2017-04/%20leopard_shark_01.jpg>

# Conociendo los datos
Tareas:
- Crear df de problemas con columnas de: Tipo de dato, numero de nulos, problema principal, solucionado S/N
FALTA COLUMNA lOCATION, COUNTRY, AREA Y INVESTIGADOR

## Importamos bibliotecas

In [159]:
import pandas as pd
import numpy as np
import re

## Abrimos el archivo

In [245]:
df=pd.read_csv("data/GSAF5.csv",encoding="ISO-8859-1")

## Informacion inicial del archivo

### Observacion inicial del dataset (head, info, isna().sum())

In [246]:
df.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988,NaN,NaN
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987,NaN,NaN
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986,NaN,NaN
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985,NaN,NaN
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5496 non-null   object
 7   Activity                5465 non-null   object
 8   Name                    5792 non-null   object
 9   Sex                     5425 non-null   object
 10  Age                     3311 non-null   object
 11  Injury                  5965 non-null   object
 12  Fatal (Y/N)             5973 non-null   object
 13  Time                    2779 non-null   object
 14  Species                 3058 non-null   object
 15  Investigator or Source  5977 non-null   object
 16  pdf                     5992 non-null   object
 17  href formula            5991 non-null   object
 18  href                    5989 non-null   object
 19  Case Number.1           5992 non-null   object
 20  Case Number.2           5992 non-null   object
 21  original order          5992 non-null   int64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [5]:
#Valores nulos
df.isna().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [6]:
#Vamos a ver si hay algun duplicado en los valores
df.duplicated().value_counts()

False    5992
dtype: int64

In [7]:
df.shape

(5992, 24)

### Conclusiones iniciales tras Analisis inicial:

- Columnas con un mismo valor como case number (0,19,20) y original order: Comprobar diferencias y si son iguales borrar
- Se solapan las columnas Year y Date: Agruparla en una.
- En algunos casos los datos de la columna nombre se solapan con el sexo: Buscar solucion
- Las columnas pdf, href formula y href se solapan, intentar agrupar en una
- original order posible indice

#  Modificacion del dataset

## Localizacion de problemas y limpieza del dataset por columnas

FOTO DE LA TABLA INICIAL

### Columna: "original order","Case Number","Case Number.1","Case Number.2"

- La columna original order es un indice de casos en los que se repiten valores igual que las columnas Case Number
- Objetivo: Unica lista de numero de casos: lista con valores unicos y continuos
- Output: Nueva columna que usare indice

In [8]:
df[["original order","Case Number","Case Number.1","Case Number.2"]]

      original order   Case Number Case Number.1 Case Number.2
0               5993  2016.09.18.c  2016.09.18.c  2016.09.18.c
1               5992  2016.09.18.b  2016.09.18.b  2016.09.18.b
2               5991  2016.09.18.a  2016.09.18.a  2016.09.18.a
3               5990    2016.09.17    2016.09.17    2016.09.17
4               5989    2016.09.15    2016.09.16    2016.09.15
...              ...           ...           ...           ...
5987               6       ND.0005       ND.0005       ND.0005
5988               5       ND.0004       ND.0004       ND.0004
5989               4       ND.0003       ND.0003       ND.0003
5990               3       ND.0002       ND.0002       ND.0002
5991               2       ND.0001       ND.0001       ND.0001

[5992 rows x 4 columns]

#### Analisis de original order

In [9]:
#ordeno la tabla por los valores original order
df.sort_values("original order",ascending=True,inplace=True)
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN

In [10]:
#Vamos a ver que valoers faltan
df["original order"].nunique()

5988

In [11]:
#Vamos a comprobar cuantos valores se repiten 
OE_ValoresRepetidos=len(df["original order"])-df["original order"].nunique()

In [12]:
#Comprobamos QUE valores se repiten
df["original order"].value_counts().head(OE_ValoresRepetidos)

5739    2
569     2
5661    2
3847    2
Name: original order, dtype: int64

In [13]:
#Comprobamos desde el 0 al numero de casos, que valores no estan, lopaso a index ya que me resuta mas facil
df2=df.set_index("original order")
for i in range(0,len(df2)):
    try:
        df2.loc[i]
    except KeyError:
        print(i)

0
1
571
3347
5724
5881

Problema de original order: 4 numeros repetidos y en el orden de casos se han saltado varios numeros
Opciones para corregirlo:
- Opcion A: Cambios en la misma columna:
        - del 2 al 568 correcto, pasamos el segundo valor 569 al 570 
        - del 571 al 3346 correcto, del3348 al primer valor 3847 hay que restarle 1
        - del 3848 al 5660 correcto, del segundo valor del 5661 a 5723 hay que sumarle 1
        - del 5725 a 5738 correcto, del segundo valor de 5739 al 5880 hay que sumarle 1
        - despues restamos 1 a todo y los casos empezaran desde 1 siendo valores unicos
- Opcion B:
        - ponerlo en orden y crear una nueva tabla con un rango de 1 a len

In [14]:
#cambio el indice con una lista de numeros desde el 1 hasta la longitud +1
lista=[i for i in range(1,len(df)+1)]

In [15]:
# añado la columna nueva y borro la antigua
df["Casos"]=lista
df.drop("original order",axis=1,inplace=True)

#### Analisis Case Number

In [16]:
#Cambio el indice a original a Casos 
df=df.set_index("Casos")

In [17]:
#Miramos cantidad de valores nulos
df[["Case Number","Case Number.1","Case Number.2"]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5992 entries, 1 to 5992
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Case Number    5992 non-null   object
 1   Case Number.1  5992 non-null   object
 2   Case Number.2  5992 non-null   object
dtypes: object(3)
memory usage: 187.2+ KB

In [18]:
#Valores unicos que hay
df[["Case Number","Case Number.1","Case Number.2"]].nunique()

Case Number      5976
Case Number.1    5975
Case Number.2    5976
dtype: int64

In [19]:
#No hay valores nulos pero hay valores que se repiten y el formato de numero de caso varia
print(f'{len(df["Case Number"])-len(set(df["Case Number"]))} casos se repiten')

16 casos se repiten

In [20]:
#Vamos a ver que valores se repiten en Case Number y si son los mismos en 
listaA=[] #Lista de valores unicos de Case Number
listaB=[] #Lista de valores repetidos de Case Number
for i in range(1,len(df)+1):
    if df["Case Number"].loc[i] not in listaA:
        listaA.append(df["Case Number"].loc[i])
    else:
        listaB.append(df["Case Number"].loc[i])

In [21]:
#Vamos a ver que valores se repiten en Case Number.1 y si son los mismos en 
listaC=[] #Lista de valores unicos de Case Number.1
listaD=[] #Lista de valores repetidos de Case Number.1
for i in range(1,len(df)+1):
    if df["Case Number.1"].loc[i] not in listaC:
        listaC.append(df["Case Number.1"].loc[i])
    else:
        listaD.append(df["Case Number.1"].loc[i])

In [22]:
#Vamos a ver que valores se repiten en Case Number.2 y si son los mismos en 
listaE=[] #Lista de valores unicos de Case Number.2
listaF=[] #Lista de valores repetidos de Case Number.2
for i in range(1,len(df)+1):
    if df["Case Number.2"].loc[i] not in listaE:
        listaE.append(df["Case Number.2"].loc[i])
    else:
        listaF.append(df["Case Number.2"].loc[i])

In [23]:
#Vamos a comprobar que columnas son mas parecidas
print((df["Case Number"]==df["Case Number.1"]).value_counts())
print((df["Case Number.1"]==df["Case Number.2"]).value_counts())
print((df["Case Number"]==df["Case Number.2"]).value_counts())

True     5979
False      13
dtype: int64
True     5981
False      11
dtype: int64
True     5990
False       2
dtype: int64

In [24]:
#Primero unificare la columna Case Number con la columna Case Number.2 ya que son muy parecidas
print(f'Valores no repetidos {listaA==listaE}')
print(f'Valores  repetidos {listaB==listaF}')

Valores no repetidos False
Valores  repetidos True

In [25]:
#Los dos valores que no coinciden estan en los valores no repetidos
for i in range(1,len(df)):
    if df["Case Number"].loc[i]!= df["Case Number.2"].loc[i]:
          print(i)

1273
5823

In [26]:
#Analizamos ambos valores de forma individual
df.loc[1273]

Case Number                                                    1934.01.08.R
Date                                                   Reported 08-Feb-1934
Year                                                                   1934
Type                                                                Boating
Country                                                              TURKEY
Area                                                               Istanbul
Location                                         Haydarpasa jetty, Istanbul
Activity                                                            Fishing
Name                                                                2 males
Sex                                                                       M
Age                                                                     NaN
Injury                                                            No injury
Fatal (Y/N)                                                               N
Time                                                                    NaN
Species                                                                 NaN
Investigator or Source                                       C. Moore, GSAF
pdf                                                 1924.02.08.R-Turkey.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                  1934.02.08.R
Case Number.2                                                  1934.02.08.R
Unnamed: 22                                                             NaN
Unnamed: 23                                                             NaN
Name: 1273, dtype: object

In [27]:
df.loc[5823]

Case Number                                                      2015.07-10
Date                                                              10-Jul-15
Year                                                                   2015
Type                                                             Unprovoked
Country                                                                 USA
Area                                                             California
Location                                    Huntington Beach, Orange County
Activity                                                            Surfing
Name                                                           Danny Miskin
Sex                                                                       M
Age                                                                      38
Injury                              No injury, shark bumped & damaged board
Fatal (Y/N)                                                               N
Time                                                                  08h45
Species                                                     White shark, 7'
Investigator or Source                                      KTLA, 7/10/2015
pdf                                                   2015.07.10-Miskin.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                    2015.07.10
Case Number.2                                                    2015.07.10
Unnamed: 22                                                             NaN
Unnamed: 23                                                             NaN
Name: 5823, dtype: object

- Problema:  
     - Case Number: A veces apuntdo por fecha o por el nombre del pdf, valores repetidos y si son el mismo dia con letras, no da informacion relevante ni utilizable ya que son parches de otras columnas

Decido borrar las columnas Case number ya que no me aportan informacion relevante y lo he unido a la columna Casos

#### Output Columnas: "original order","Case Number","Case Number.1","Case Number.2"

In [28]:
df.drop(["Case Number","Case Number.1","Case Number.2"],axis=1,inplace=True)

In [29]:
df

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Unnamed: 22,Unnamed: 23
Casos,,,,,,,,,,,,,,,,,,,,
1,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
2,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
3,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
4,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
5,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5988,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
5989,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
5990,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
5991,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
5992,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN

### Columna "unname 23"

####   analisis de los valores y conocimiento del problema

In [30]:
#Valores de Unnamed 23
set(df["Unnamed: 23"])

{'Teramo', 'change filename', nan}

In [31]:
#Cantidad de veces que salen estos valores
df["Unnamed: 23"].value_counts()

change filename    1
Teramo             1
Name: Unnamed: 23, dtype: int64

#### Conclusion y output

In [32]:
# No la considero relevante asi que decido borrarla
df.drop("Unnamed: 23",axis=1,inplace=True)

### Columna "unname 22"

#### Identificacion de valores nulos de cada columna

In [33]:
#Valores de Unnamed 22
set(df["Unnamed: 22"])

{nan, 'stopped here'}

In [34]:
#Vamos a ver cuantos valores hay
df["Unnamed: 22"].value_counts()

stopped here    1
Name: Unnamed: 22, dtype: int64

#### Conclusion y output

In [35]:
#El registro esta en mitad de la tabla y no lo considero importante asi que quito toda la columna 
df.drop("Unnamed: 22", axis=1,inplace=True)

###  Columnas: "Pais"

#### Analisis inicial de las columnas

In [134]:
#Observamos la cantidad de valores nulos que hay
(df["Country"]).isna().sum()

0

In [133]:
#Rellenamos los na con un grupo de "No determinado"
df["Country"].fillna("No determinado",inplace=True)

####  Limpieza de los valores:
Observo que en los inicios hay espacios, hay ?, primero limpiar los nombres y despues buscar si existe el pais
Objetivo: comprobar si existen y si no existen añadir como No determinado, antes borrar espacios iniciales y finales y quitar ?¿ç

In [222]:
#Primero lo convierto todo a mayusculas
df["Country"]=df["Country"].str.upper()

In [223]:
#Identifico los paises que empiezan con espacio y se lo quito
df[df["Country"].str.startswith(" ")]["Country"]
#Solo son PHILIPPINES Y TONGA, los modifico 
df.replace({" PHILIPPINES":"PHILIPPINES"," TONGA":"TONGA"},inplace=True)

In [206]:
#Identifico los paises que acaban con espacio y se lo quito
df[df["Country"].str.endswith(" ")]["Country"]
df.replace({"YEMEN ":"YEMEN",
            "EGYPT ":"EGYPT",
           "NORTH ATLANTIC OCEAN ":"NORTH ATLANTIC OCEAN",
           "NICARAGUA ":"NICARAGUA",
            "PACIFIC OCEAN ":"PACIFIC OCEAN",
            "MEXICO ":"MEXICO"
           },inplace=True)

In [204]:
#Identifico los valores que tienen ? y los modifico
for i in df["Country"]:
    if re.findall("[?]",i):
        print(i)

YEMEN
YEMEN
YEMEN
YEMEN
YEMEN
EGYPT
EGYPT
YEMEN
YEMEN
NORTH ATLANTIC OCEAN
NICARAGUA
PACIFIC OCEAN
PACIFIC OCEAN
MEXICO

In [194]:
df.replace({"ASIA?":"ASIA",
            "RED SEA?":"RED SEA",
            "INDIAN OCEAN?":"INDIAN OCEAN",
            "MEDITERRANEAN SEA?":"MEDITERRANEAN SEA",
           "SUDAN?":"SUDAN"},inplace=True)

####  Conclusion: Clasificacion por paises existentes
los nombres de los paises ya estan limpios, vamos a comprobar si existen 
[Github del csv](https://github.com/datasets/country-list/blob/master/data.csv#L119)

In [215]:
#Descargo de github un csv con todos los paises del mundo en ingles, viene con indice y codigo asi que creo una lista con los paises
lista_paises=pd.read_csv("paises.csv")
lista_paises=list(lista_paises["Name"])

In [225]:
#Convierto los nombres a mayuscula y los pongo en una lista
lista=[]
for i in lista_paises:
    lista.append(i.upper())
lista_paises=lista

In [226]:
lista_paises

['AFGHANISTAN',
 'ÅLAND ISLANDS',
 'ALBANIA',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDORRA',
 'ANGOLA',
 'ANGUILLA',
 'ANTARCTICA',
 'ANTIGUA AND BARBUDA',
 'ARGENTINA',
 'ARMENIA',
 'ARUBA',
 'AUSTRALIA',
 'AUSTRIA',
 'AZERBAIJAN',
 'BAHAMAS',
 'BAHRAIN',
 'BANGLADESH',
 'BARBADOS',
 'BELARUS',
 'BELGIUM',
 'BELIZE',
 'BENIN',
 'BERMUDA',
 'BHUTAN',
 'BOLIVIA',
 'BONAIRE',
 'BOSNIA AND HERZEGOVINA',
 'BOTSWANA',
 'BOUVET ISLAND',
 'BRAZIL',
 'BRITISH INDIAN OCEAN TERRITORY',
 'BRUNEI DARUSSALAM',
 'BULGARIA',
 'BURKINA FASO',
 'BURUNDI',
 'CAMBODIA',
 'CAMEROON',
 'CANADA',
 'CAPE VERDE',
 'CAYMAN ISLANDS',
 'CENTRAL AFRICAN REPUBLIC',
 'CHAD',
 'CHILE',
 'CHINA',
 'CHRISTMAS ISLAND',
 'COCOS (KEELING) ISLANDS',
 'COLOMBIA',
 'COMOROS',
 'CONGO',
 'DEMOCRATIC REPUBLIC OF THE CONGO',
 'COOK ISLANDS',
 'COSTA RICA',
 "CÔTE D'IVOIRE",
 'CROATIA',
 'CUBA',
 'CURAÇAO',
 'CYPRUS',
 'CZECH REPUBLIC',
 'DENMARK',
 'DJIBOUTI',
 'DOMINICA',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EL SALVADOR',
 'EQUATORIAL GUINEA',
 'ERITREA',
 'ESTONIA',
 'ETHIOPIA',
 'FALKLAND ISLANDS (MALVINAS)',
 'FAROE ISLANDS',
 'FIJI',
 'FINLAND',
 'FRANCE',
 'FRENCH GUIANA',
 'FRENCH POLYNESIA',
 'FRENCH SOUTHERN TERRITORIES',
 'GABON',
 'GAMBIA',
 'GEORGIA',
 'GERMANY',
 'GHANA',
 'GIBRALTAR',
 'GREECE',
 'GREENLAND',
 'GRENADA',
 'GUADELOUPE',
 'GUAM',
 'GUATEMALA',
 'GUERNSEY',
 'GUINEA',
 'GUINEA-BISSAU',
 'GUYANA',
 'HAITI',
 'HEARD ISLAND AND MCDONALD ISLANDS',
 'HOLY SEE (VATICAN CITY STATE)',
 'HONDURAS',
 'HONG KONG',
 'HUNGARY',
 'ICELAND',
 'INDIA',
 'INDONESIA',
 'IRAN',
 'IRAQ',
 'IRELAND',
 'ISLE OF MAN',
 'ISRAEL',
 'ITALY',
 'JAMAICA',
 'JAPAN',
 'JERSEY',
 'JORDAN',
 'KAZAKHSTAN',
 'KENYA',
 'KIRIBATI',
 'SOUTH KOREA',
 'NORTH KOREA',
 'KUWAIT',
 'KYRGYZSTAN',
 "LAO PEOPLE'S DEMOCRATIC REPUBLIC",
 'LATVIA',
 'LEBANON',
 'LESOTHO',
 'LIBERIA',
 'LIBYA',
 'LIECHTENSTEIN',
 'LITHUANIA',
 'LUXEMBOURG',
 'MACAO',
 'MACEDONIA',
 'MADAGASCAR',
 'MALAWI',
 'MALAYSIA',
 'MALDIVES',
 'MALI',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITANIA',
 'MAURITIUS',
 'MAYOTTE',
 'MEXICO',
 'MICRONESIA',
 'MOLDOVA',
 'MONACO',
 'MONGOLIA',
 'MONTENEGRO',
 'MONTSERRAT',
 'MOROCCO',
 'MOZAMBIQUE',
 'MYANMAR',
 'NAMIBIA',
 'NAURU',
 'NEPAL',
 'NETHERLANDS',
 'NEW CALEDONIA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NIGER',
 'NIGERIA',
 'NIUE',
 'NORFOLK ISLAND',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OMAN',
 'PAKISTAN',
 'PALAU',
 'PALESTINE',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERU',
 'PHILIPPINES',
 'PITCAIRN',
 'POLAND',
 'PORTUGAL',
 'PUERTO RICO',
 'QATAR',
 'RÉUNION',
 'ROMANIA',
 'RUSSIAN FEDERATION',
 'RWANDA',
 'SAINT BARTHÉLEMY',
 'SAINT HELENA',
 'SAINT KITTS AND NEVIS',
 'SAINT LUCIA',
 'SAINT MARTIN (FRENCH PART)',
 'SAINT PIERRE AND MIQUELON',
 'SAINT VINCENT AND THE GRENADINES',
 'SAMOA',
 'SAN MARINO',
 'SAO TOME AND PRINCIPE',
 'SAUDI ARABIA',
 'SENEGAL',
 'SERBIA',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SINT MAARTEN (DUTCH PART)',
 'SLOVAKIA',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS',
 'SOUTH SUDAN',
 'SPAIN',
 'SRI LANKA',
 'SUDAN',
 'SURINAME',
 'SVALBARD AND JAN MAYEN',
 'SWAZILAND',
 'SWEDEN',
 'SWITZERLAND',
 'SYRIAN ARAB REPUBLIC',
 'TAIWAN',
 'TAJIKISTAN',
 'TANZANIA',
 'THAILAND',
 'TIMOR-LESTE',
 'TOGO',
 'TOKELAU',
 'TONGA',
 'TRINIDAD AND TOBAGO',
 'TUNISIA',
 'TURKEY',
 'TURKMENISTAN',
 'TURKS AND CAICOS ISLANDS',
 'TUVALU',
 'UGANDA',
 'UKRAINE',
 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM',
 'UNITED STATES',
 'UNITED STATES MINOR OUTLYING ISLANDS',
 'URUGUAY',
 'UZBEKISTAN',
 'VANUATU',
 'VENEZUELA',
 'VIET NAM',
 'VIRGIN ISLANDSVG',
 'VIRGIN ISLANDS',
 'WALLIS AND FUTUNA',
 'WESTERN SAHARA',
 'YEMEN',
 'ZAMBIA',
 'ZIMBABWE']

In [208]:
#Vamos a ver los paises que no identifica para ver cuales podemos solucionar y cuales no
for i in set(df["Country"]):
    if i in list(country_list):
        continue
    else:
        print(i)

CEYLON (SRI LANKA)
MID-PACIFC OCEAN
ASIA
PERSIAN GULF
SAN DOMINGO
NEW BRITAIN
TRINIDAD & TOBAGO
NORTH SEA
UNITED ARAB EMIRATES (UAE)
SOUTH PACIFIC OCEAN
FALKLAND ISLANDS
SOUTHWEST PACIFIC OCEAN
OKINAWA
EQUATORIAL GUINEA / CAMEROON
BRITISH ISLES
NETHERLANDS ANTILLES
GULF OF ADEN
BURMA
BRITISH NEW GUINEA
THE BALKANS
FEDERATED STATES OF MICRONESIA
PACIFIC OCEAN
MEDITERRANEAN SEA
MALDIVE ISLANDS
ANDAMAN / NICOBAR ISLANDAS
TASMAN SEA
REUNION
BAY OF BENGAL
BAHREIN
ATLANTIC OCEAN
DIEGO GARCIA
TURKS & CAICOS
PALESTINIAN TERRITORIES
SYRIA
NO DETERMINADO
JAVA
RUSSIA
GRAND CAYMAN
NEVIS
ST. MAARTIN
JOHNSTON ISLAND
ST. MARTIN
NORTH PACIFIC OCEAN
ENGLAND
ST HELENA
ANTIGUA
NORTH ATLANTIC OCEAN
BRITISH WEST INDIES
AZORES
IRAN / IRAQ
SCOTLAND
SOUTH ATLANTIC OCEAN
SOLOMON ISLANDS / VANUATU
SOUTH CHINA SEA
COLUMBIA
RED SEA
BETWEEN PORTUGAL & INDIA
ADMIRALTY ISLANDS
WESTERN SAMOA
CENTRAL PACIFIC
OCEAN
EGYPT / ISRAEL
COAST OF AFRICA
CRETE
ITALY / CROATIA
KOREA
VIETNAM
BRITISH VIRGIN ISLANDS
NORTHERN ARABIAN SEA
INDIAN OCEAN
USA
CARIBBEAN SEA
RED SEA / INDIAN OCEAN
NEW GUINEA
CURACAO
MID ATLANTIC OCEAN

**MODIFICACIONES sobre la lista de paises que no aparecen** {Como salen: Transformacion} (ND=no determinado)
1. CEYLON (SRI LANKA): SRI LANKA
1. MID-PACIFC OCEAN:ND
1. ASIA:ND
1.  PERSIAN GULF: ND
1.  SAN DOMINGO: DOMINICAN REPUBLIC
1.  NEW BRITAIN: ND
1.  TRINIDAD & TOBAGO: TRINIDAD AND TOBAGO
1.  NORTH SEA: ND
1.  UNITED ARAB EMIRATES (UAE): 'UNITED ARAB EMIRATES'
1.  SOUTH PACIFIC OCEAN: ND
1.  FALKLAND ISLANDS: 'FALKLAND ISLANDS (MALVINAS)'
1.  SOUTHWEST PACIFIC OCEAN: ND
1.  OKINAWA: JAPAN
1.  EQUATORIAL GUINEA / CAMEROON: ND
1.  BRITISH ISLES: ND
1.  NETHERLANDS ANTILLES: ND
1.  GULF OF ADEN: YEMEN
1.  BURMA: MYANMAR
1.  BRITISH NEW GUINEA: ND
1.  THE BALKANS: ND
1.  FEDERATED STATES OF MICRONESIA: MICRONESIA
1.  PACIFIC OCEAN: ND
1.  MEDITERRANEAN SEA: ND
1.  MALDIVE ISLANDS: MALDIVES
1.  ANDAMAN / NICOBAR ISLANDAS: INDIA
1.  TASMAN SEA: AUSTRALIA
1.  REUNION: FRANCE
1.  BAY OF BENGAL:INDIA
1.  BAHREIN: BAHRAIN
1.  ATLANTIC OCEAN: ND
1.  DIEGO GARCIA: ND
1.  TURKS & CAICOS: ND PERO MUY BONITO
1.  PALESTINIAN TERRITORIES: PALESTINE
1.  SYRIA: 'SYRIAN ARAB REPUBLIC'
1.  NO DETERMINADO
1.  JAVA: INDONESIA
1.  RUSSIA: RUSSIAN FEDERATION
1.  GRAND CAYMAN: CAYMAN ISLANDS'
1.  NEVIS: ND
1.  ST. MAARTIN: 'SAINT MARTIN (FRENCH PART)'
1.  JOHNSTON ISLAND: ND
1.  ST. MARTIN: 'SAINT MARTIN (FRENCH PART)'
1.  NORTH PACIFIC OCEAN: ND
1.  ENGLAND:'UNITED KINGDOM'
1.  ST HELENA: 'SAINT HELENA'
1.  ANTIGUA: 'ANTIGUA AND BARBUDA'
1.  NORTH ATLANTIC OCEAN: ND
1.  BRITISH WEST INDIES: ND
1.  AZORES: PORTUGAL
1.  IRAN / IRAQ: ND
1.  SCOTLAND: UNITED KINGDOM
1.  SOUTH ATLANTIC OCEAN: ND
1.  SOLOMON ISLANDS / VANUATU: ND
1.  SOUTH CHINA SEA: CHINA
1.  COLUMBIA: COLOMBIA
1.  RED SEA: ND
1.  BETWEEN PORTUGAL & INDIA: ND
1.  ADMIRALTY ISLANDS: ND
1.  WESTERN SAMOA: SAMOA
1.  CENTRAL PACIFIC: ND
1.  OCEAN: ND
1.  EGYPT / ISRAEL: ND
1.  COAST OF AFRICA: ND
1.  CRETE: GREECE
1.  ITALY / CROATIA: ND
1.  KOREA: ND
1.  VIETNAM: VIET NAM
1.  BRITISH VIRGIN ISLANDS: ND
1.  NORTHERN ARABIAN SEA: ND
1.  INDIAN OCEAN: ND
1.  USA: 'UNITED STATES'
1.  CARIBBEAN SEA: ND
1.  RED SEA / INDIAN OCEAN: ND
1.  NEW GUINEA: GUINEA
1.  CURACAO: BRAZIL
1.  MID ATLANTIC OCEAN: ND

In [233]:
#Hacemos las modificaciones en el dataset
df.replace({"CEYLON (SRI LANKA)": "SRI LANKA",
            "SAN DOMINGO": "DOMINICAN REPUBLIC",
            "TRINIDAD & TOBAGO": "TRINIDAD AND TOBAGO",
            "UNITED ARAB EMIRATES (UAE)": "UNITED ARAB EMIRATES",
           "FALKLAND ISLANDS": "FALKLAND ISLANDS (MALVINAS)",
            "OKINAWA": "JAPAN",
           "GULF OF ADEN": "YEMEN",
            "BURMA": "MYANMAR",
           "FEDERATED STATES OF MICRONESIA": "MICRONESIA",
            "MALDIVE ISLANDS": "MALDIVES",
           "ANDAMAN / NICOBAR ISLANDAS": "INDIA",
            "TASMAN SEA": "AUSTRALIA",
            "REUNION":"FRANCE",
            "BAY OF BENGAL":"INDIA",
            "BAHREIN":"BAHRAIN",
           "PALESTINIAN TERRITORIES":"PALESTINE",
            "SYRIA": 'SYRIAN ARAB REPUBLIC',
            "JAVA": "INDONESIA",
            "RUSSIA": "RUSSIAN FEDERATION",
            "GRAND CAYMAN": "CAYMAN ISLANDS",
            "ST. MAARTIN": 'SAINT MARTIN (FRENCH PART)',
            "ST. MARTIN": 'SAINT MARTIN (FRENCH PART)',
            "ENGLAND":'UNITED KINGDOM',
            "ST HELENA": 'SAINT HELENA',
            "ANTIGUA": 'ANTIGUA AND BARBUDA',
              "AZORES": "PORTUGAL",
            "SCOTLAND": "UNITED KINGDOM",
            "SOUTH CHINA SEA": "CHINA",
            "COLUMBIA": "COLOMBIA",
            "WESTERN SAMOA": "SAMOA",
            "CRETE": "GREECE",
            "VIETNAM": "VIET NAM",
            "USA": 'UNITED STATES',
            "NEW GUINEA": "GUINEA",
            "CURACAO": "BRAZIL"
            
           },inplace=True)

In [235]:
#Los paises que no estan bien escritos los añadimos a No determinado
for i in set(df["Country"]):
    if i in list(country_list):
        continue
    else:
        df.replace({i:"No determinado"},inplace=True)

In [238]:
#Comprobamos
df["Country"].value_counts()

UNITED STATES           2116
AUSTRALIA               1280
SOUTH AFRICA             565
No determinado           174
PAPUA NEW GUINEA         133
                        ...
SYRIAN ARAB REPUBLIC       1
CYPRUS                     1
COOK ISLANDS               1
GABON                      1
PUERTO RICO                1
Name: Country, Length: 128, dtype: int64

### Columna "Age"

#### Identificacion de valores nulos de cada columna

In [36]:
df["Age"].isna().sum()

2681

#### Conclusion y output

In [37]:
#La mitad de los valores son na por lo que elimino la columna
df.drop("Age",axis=1,inplace=True)

###  Columnas: "pdf","href formula","href"

Objetivo unificar las 3 columnas al pdf de esa columna

####  Analisis inicial

In [38]:
#Observamos las 3 columnas
df[["pdf","href formula","href"]]

,pdf,href formula,href
Casos,,,
1,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2,ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3,ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4,ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5,ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...
5988,2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5989,2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5990,2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5991,2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5992,2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [39]:
#Vamos a comprobar los valores nulos de cada columna para elegir la que menos tenga
df[["pdf","href formula","href"]].isna().sum()

pdf             0
href formula    1
href            3
dtype: int64

In [40]:
df[["pdf","href formula","href"]].isna().sort_values("href formula")

         pdf  href formula   href
Casos
1      False         False  False
4000   False         False  False
3999   False         False  False
3998   False         False  False
3997   False         False  False
...      ...           ...    ...
1993   False         False  False
1992   False         False  False
1991   False         False  False
2000   False         False  False
2973   False          True  False

[5992 rows x 3 columns]

In [41]:
df.loc[3020,["pdf","href formula","href"]]

pdf                                      1976.00.00.b-Nakaima.pdf
href formula    http://sharkattackfile.net/spreadsheets/pdf_di...
href            http://sharkattackfile.net/spreadsheets/pdf_di...
Name: 3020, dtype: object

#### Conclusion y output

In [42]:
#añado la formula de href a la columna con todos los hipervinculos
df["href formula"].at[3020]=df["href"].at[3020]

In [43]:
#elimino las columnas pdf y href 
df.drop(["pdf","href"],axis=1,inplace=True)

In [100]:
#cambio de nombre a la columna que guardo en el df
df.rename(columns={"href formula":"Pdf"},inplace=True)

###  Columnas: "species"

####   Analisis inicial

In [45]:
#Comprobamos cuantos valores na hay
df["Species "].isna().sum()

2934

In [46]:
# Cuantas categorias de especies diferentes hay
df["Species "].nunique()

1538

In [47]:
set(df["Species "])

{nan,
 "6 m [20'] white shark",
 "Reported to involve a White shark, 6 m to 7m [20' to 23'] ",
 '.5 m shark',
 "Raggedtooth shark, 1.5 m [5'] (tooth fragment recovered)",
 "2.3 m [7.5'] white shark, identified by M. Smale",
 '\xa0 ',
 'Said to involve a 1 m  white shark, but thought  that it was more likely a blue shark',
 "Tiger shark, 3 to 4 m [10' to 13'] ",
 "Bronze whaler shark,3.7 m [12'] ",
 '9-foot shark',
 "White shark, 10 '",
 '"a black-tipped shark"',
 'Tiger shark',
 '1.5 m, 45-kg shark',
 '2.27 m shark',
 "1.5 to 2.5 m [5' to 8.25'] copper shark",
 "Mako shark, 5'",
 'Reported to involve a bull shark',
 "7' to 8' bull shark",
 "9' shark",
 "7' silvertip shark",
 'White sharks',
 '7-gill shark?',
 'Blue shark bites present ',
 '1.2 m to 1.5 m [4\' to 5\'] "reef shark"',
 "3 m [10'], 200-kg [441-lb] bull shark",
 '136-kg [300-lb] shark',
 "4 m [13'] shark",
 "1.7 m [5.5'] shark",
 'Shark involvement prior to death could not be determined',
 '4.2 m white shark',
 "6' to 8' bull shark",
 "White shark, 14' to 16' ",
 'Mako shark, 125-lb ',
 '"grey-colored shark"',
 "White shark, 16' ",
 '>2 m shark',
 '2.8 m [9\'3"] white shark',
 "1.2 m to 1.8 m [4' to 6'] shark",
 'Reportedly: oceanic whitetip sharks, blue sharks, tiger sharks & bull sharks',
 'Hand found in gut of 2.9 m to 3.3 m [9\'7" to 10\'11"] Galapagos shark, C. galapagensis',
 '18-foot shark',
 "Tiger shark, 6' ",
 "White shark, 4.3 m [14']",
 "1.8 m to 2.4 m [6' to 8'] white shark",
 'Salmon shark suspected, but unlikely',
 "2.7 m [9'] white shark",
 "Lemon shark, 2.1  m to 2.4 m [7' to 8'] ",
 'White shark, 2 m',
 "Bronze whaler shark, 1.5 m [5'] ",
 'White shark, 2m to 3 m',
 'Blue shark, 2.5m',
 'small sharks',
 'Bull shark, 1.65 m [5\'5"] was speared & killed',
 '8-lb shark',
 'Doubtful / Unconfirmed attack / Unable to verify in local records',
 "Blue pointer, 11' ",
 "small sharks'",
 'Lemon shark, 2 m [6\'9"]',
 'Shark involvement prior to death remains unconfirmed',
 'Thought to involve a Zambesi shark',
 'Possibly a blue shark',
 "Nurse shark, 0.94 m to 1.2 m [3' to 4'] ",
 "3' to 3.5' shark",
 'Bronze whaler shark, 2 m to 3 m ',
 "1.5 m [5'] blacktip shark",
 "3 m to 4 m [10' to 13']  white shark",
 "60 cm [2'] captive shark",
 ' Raggedtooth shark, 2m',
 "White shark, 5.5 m [18'] ",
 " 1.5 m [5'] dusky shark",
 "Grey nurse shark, 11'",
 'Mako shark, 90kg',
 "2.4 m  [8'] shark",
 'Bronze whaler shark, a  juvenile ',
 'Hammerhead sp.',
 'small shark',
 "4 m [13'] shark x 6",
 'Tiger shark, 3m ',
 '6 m  white shark',
 "White shark, 5 m [16.5'] ",
 "White shark 4.9 m [16'] ",
 'Sand shark?',
 "On 11-Jan-1994, his remains washed ashore. A 2.4 m [8'] tiger shark thought to be involved",
 "White shark, 3.7 m [12']  ",
 "1.2 m [4'] shark hindered recovery of body",
 "White shark, 12', identity confirmed by tooth fragment, witness and photograph of captured shark ",
 '2\' "banjo shark"',
 "Tiger shark, 12' ",
 'possibly a small blacktip shark',
 "Possibly a 5' to 6' sandtiger shark",
 'White shark, 4.5m',
 'Shark involvement prior to death not confirmed',
 "12' shark",
 "3.7 to 4.6 m [12' to 15'] sharks",
 'White shark, 3.5m ',
 "2' to 3' shark",
 "2.4 m [8'] shark",
 "3.2 m [10.5'] shark",
 'Whale shark',
 "2.1 m to 2.4 m  [7' to 8'] shark",
 'White shark, 2 m [6\'9"]  (Tooth fragment recovered from victim\'s shoulder & identified by J.T. Nicholls)',
 'Bull shark, 1.8m',
 '2 to 3 m shark',
 "White shark, 3.7 m [12']  according to witnesses",
 "1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered ",
 "Tiger shark, 4 m [13'] ?",
 '"a school of sharks"',
 "White shark, 3.8 m [12.5']  ",
 "1.2 m [4'] blacktip shark",
 "Blue shark, 1.8 m [6'] ",
 "2.7 m [9'] shark",
 "Nurse shark, 2.5' ",
 'blacktip or spinner shark',
 'Raggedtooth shark, 1.5 m',
 'Possibly a blacktip shark',
 "2.1 m [7'] shark, possibly a spinner shark",
 '1.6 m shark',
 '5.2 to 5.8 m white shark',
 "Thought to involve a 2.6 m [8.5'] white shark",
 'Tiger shark, 4.5 to 5.5 m [14\'9" to 18\'], 2000-lb  ',
 "White shark, 3.5 m [11.5']  male ",
 'Tiger shark, 4 m ',
 'Bronze whaler shark, 3.5 m ',
 "0.9 m to 1.2 m [3' to 4'] white shark",
 '1.8 to 2 m C. albimarginatus',
 'Salmon shark',
 "12' to 18' shark",
 'Bronze whaler shark, 2 m ',
 "Tiger shark, 13'",
 'Wobbegong shark, 1.6m',
 'Bull shark, 132-kg [291-lb] ',
 "Bronze whaler shark, 2.5 m [8.25']  k",
 "White shark, 5 m to 6 m [16.5' to 20] ",
 '1.5 m grey reef shark',
 "White shark, 2.5 m [8.25'], an immature female, previously injured",
 "2.5 m [8.25'] white shark",
 '200-lb shark',
 '6 m shark',
 "Raggedtooth shark, 2 m [6.75'] ",
 " Sevengill  shark, 1.2 m [4'] ",
 "1.5 to 2 m [5' to 6.75'] shark",
 'Shortfin mako shark, 175-lb ',
 "Tiger shark, 12' ?",
 'Bull shark suspected due to freshwater habitat',
 "3 m to 5 m [10' to 16.5'] white shark",
 '1.8 m silky shark',
 'Grey nurse shark, 2 m',
 "14' white shark",
 'Grey nurse shark',
 '2 sharks, 4.5 m & 3 m ',
 "1.5 m to 1.8 m [5' to 6'] sharks",
 "Possibly a Bull shark, 3'",
 'Tiger sharks in area',
 "1.8 to 2.4 m [6' to 8'] shark",
 'Tiger shark, 277-kg',
 "Bronze whaler shark, 2.4 m [8'] Identified by Clyde Buttery",
 "16' white shark",
 "5.5 m to 6 m [18' to 20'] white shark",
 'White shark named \x93Spotty\x94',
 "3.5' to 4' shark",
 "1.8 m [6'] dogfish",
 "Blue shark, 1.5 m [5'] ",
 "4 m [13'], 590-kg white shark",
 "4.9 m to 5.5 m [16' to 18'] white shark",
 'Nurse shark, 2.5-ft',
 'Shark involvement not confirmed, injury may have been caused by a bluefish',
 'Large tiger shark seen in the vicinity the following morning',
 ' "gummy" shark (Rhizoprionodon or Loxodon) 1.2 m [4\']',
 "5 m to 6 m [16.5' to 20'] white shark",
 "3.7 m to 4.3 m [12' to 14'] shark",
 'No shark involvement',
 "Bull shark, 5'",
 ' Wobbegong shark, 1.6 to 1.8m ',
 'Nurse shark, 60 cm [24"], identified by Dr. L.P. L. Schultz on photograph',
 "2.5 m [8.25'] white shark ",
 '<1.5 m shark',
 '4.5 m white shark',
 'Sand shark',
 "5.5 m [18'] white shark, identified by witnesses & tooth marks",
 'White shark, 246-kg ',
 'possibly a porbeagle shark',
 "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ",
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 'White shark, 600-kg [1323-lb]',
 "Tiger shark, 5.2 m [17']",
 "1.8 m [6'] Zambezi shark",
 "Porbeagle shark, 7'",
 "a small shark'",
 'Caribbean reef shark',
 " Bull shark, 8'",
 "0.7 m [2.5'] sand shark",
 "White shark, 2.1 m [7'] ",
 'Blue shark?',
 "Zambesi shark, 1.8 m [6'] ",
 "Reported to involve a 3.7 m [12'] shark, possibly a white shark",
 '"small sharks"',
 '30-kg [66-lb] shark',
 "1.2 m  [4'] shark",
 '20 kg shark',
 '\x93small brown shark\x94',
 "Raggedtooth shark, 1.2 m to 1.5 m [4' to 5'] ",
 'a small shark',
 'Hammerhead shark',
 " Sandbar shark, 3' to 4'",
 " White shark, 7' ",
 "White shark, 2.4 m [8']",
 "3.7 m [12'] shark & may have been another shark nearby",
 'Bull shark, 8',
 'Description of shark does not ring true',
 "Nurse shark, 0.9 m  [3'] ",
 '5.7 m white shark',
 ">1.8 m [6'] shark",
 "Tiger shark, 10' to 12' ",
 ">3 m [10'] shark",
 "Grey reef shark, 1.2 m [4'] ",
 "White shark, 6m [20']",
 ">6 m [20'] white shark",
 "3.5 m [11.5'] white shark",
 '5 m shark',
 '1.5 to 2 m shark',
 '2 m shark',
 'Possibly a small hammerhead shark',
 '2 m [6\'9"], 87.5-kg [193-lb]  shark',
 "1.8 m to 2.1 m [6' to 7'] hammerhead shark",
 '>6 m white shark, according to witnesses',
 '500-lb shark',
 'Shark involvement not confirmed, injury may be due to a stingray',
 '100-lb shark',
 "Blue shark, 3 m [10']",
 "Dusky shark, 12' ",
 'White shark, 4.5 m [14\'9"] ',
 "Tiger shark, 2.5 m [8.25'] ",
 'Blacktip shark ',
 'Shovelnose guitarfish, adult male ',
 'Bronze whaler sharks x 3',
 "Grey nurse shark, 10' ",
 'reef shark, 1m',
 "White shark, 2.4 m to 3 m [8' to 10'] ",
 'White shark, 4 m to 5 m ',
 '4.9 m white shark',
 "Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb] ",
 "White shark, 15' to 16' ",
 'Wobbegong shark, 2 m ',
 "Whitetip reef shark, 4' to 6'",
 "1.8 m [6'] shark, possibly a blacktip",
 'Wobbegong, 2m',
 'Sandtiger shark, 2 m, male ',
 'A bull shark, according to some of the divers on the boat',
 "3.7 to 4.5 m [12' to 15'] shark seen in vicinity",
 'Believed white shark and other smaller species of sharks involved.',
 'White shark, identified by tooth fragments in surfboard',
 'Possibly a hammerhead shark',
 '2 small bull sharks',
 "1.8 m [6'] blacktip shark or spinner shark",
 "White shark, 3 m [10']rk",
 'Raggedtooth shark, 2.5m ',
 'Small bull shark',
 'Possibly a 3 m bull shark',
 '5 mm 3500 kg female shark',
 "Raggedtooth shark, 1.5 m [5'] ",
 "Tiger shark 3 m  [10'] ",
 'reef shark, 1.5m',
 "White shark, 2.7 m to 3 m [9' to 10'] ",
 "Bull shark, 7'",
 'Goblin shark',
 'Mako shark, 400-lb ',
 'Bronze whaler shark, 2 m',
 'Blacktip or spinner shark',
 "White shark, 3.5 m [11.5'], identified by W. I.  Follett on tooth fragments",
 "Tiger shark, 9' to 10' ",
 "60 cm to 90 cm [2' to 3'] blacktip or spinner shark",
 'Tiger shark ',
 'Shark involvement not confirmed; thought to be a barracuda bite',
 "Nurse shark, 2.1 m [7'] ",
 "0.9 m [3'] shark,  probably a blacktip or spinner shark",
 'White shark (identified by Dr. Hugh Smith) ',
 ' Bull shark, 1.2m ',
 'Lemon shark, 30-lb ',
 "Possibly a 1.5 m [5'] blacktip shark",
 '3.5 to 4 m shark',
 'Tiger shark,  3.6 m [11\'9"], 850-kg [1874-lb] female, contained Girvan\'s remains ',
 'Bull shark, 2m',
 "White shark, 3.7 m [12'], 500 to 500-kg [1,200 lb], identified by W. C. Shroeder based on tooth fragment ebedded in gunwale",
 "Nurse shark, 6'",
 'Raggedtooth shark, 147-kg [324-lb] ',
 "White shark, 4.3 m [14'] ",
 " white shark, 15' ",
 "White shark, 4 m to 5 m [13' to 16.5'] ",
 'Shark involvement  not confirmed',
 'Tiger sharks & bull sharks (20 sharks in all)',
 'small blacktip shark?',
 'White shark?',
 'Thought to involve bull sharks',
 "1.5 m to 1.8 m [5' to 6'] Zambesi shark",
 "White shark, 2.5 m [8.25']  ",
 "Bull shark, 6' to 8'",
 'Lemon shark, >1 m ',
 "Bull shark, 9' to 10'",
 'Shark involvement not confirmed',
 'Grey reef shark ',
 "7' shark",
 "Tiger shark, 14'",
 'Not authenticated',
 'Wobbegong shark ',
 "Sandbar shark ,8'",
 'Thought to involve a small sand shark',
 "Alleged to involve a White shark, 7.6 m [25'] ",
 "Bull shark, 5' ",
 '20 to 30kg shark',
 'White shark, based on bite pattern',
 "Next morning a 3 m [10'] shark was caught that had Andrews' leg in its gut",
 "Nurse shark, 0.9 m [3'] ",
 '2.4 m shark',
 'White shark x 2',
 '"a blue shark"',
 "Tiger shark, 4 m [13']  ?",
 "Possibly a 1.5 m [5'] blacktip or spinner shark",
 'Spurdog',
 "1.5 m to 1.8 m [5' to 6'] sandbar shark",
 "Nurse shark, 1.5 m [5']  identified by Dr. E. Clark on description of shark",
 "Said to involve an 8' shark but more likely damage caused by debris",
 'Oceanic whitetip shark, 2.5 to 3m',
 "Nurse shark, 1.5 m [5'] ",
 "1.8 to 2.1 m [6' to 7'] shark",
 'Blue shark',
 "8' blue shark",
 "2.7 m to 3 m [9' to 10'] sharks",
 'Grey nurse shark, 2.9 m [9\'6"] ',
 "White shark, 2.3 m [7.5'], tooth fragment recovered",
 "Thought to involve a 3' to 4' shark, but shark involvement not confirmed",
 '3.5 m [11.5\'] female white shark named "Notchfin"',
 "Tiger shark, 15'",
 "Tiger shark, 2.5 m [8.25']",
 'Thought to involve a mako or grey nurse shark',
 "4 m [13'] shark seen in vicinity",
 '80-lb hooked shark',
 '3 hammerhead sharks nearby',
 'Tiger shark, 4.8 m',
 "Grey nurse shark, 4'",
 "Mako shark, 3 m [10'] ",
 "Wobbegong shark, 5' ",
 '9\'2" white shark',
 "20' shark",
 "Oceanic whitetip shark'",
 ">2.4 m [8'] white shark",
 "4.3 m [14'] shark seen in area previous week",
 ">6.7 m [22']  shark",
 'Thought to involve a bull shark',
 'A 10-year-old 94-pound pregnant blacktip reef shark',
 'White shark, 5m to 6m',
 'Bronze whaler shark, 4m',
 'Probable bluefish bite',
 "Tiger shark, 14' ",
 'Tiger shark, 2m',
 'Shovel-nosed guitarfish',
 "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
 "1.2 m to 1.8 m [4' to 6'] shark observed in area",
 'Blacktip reef shark, 1m',
 'Blacktip shark, 2m',
 "Mako shark, 1.5 m [5'] ",
 'White shark, 4.2 m [13\'9"] ',
 "Hammerhead shark, 3 m [10'] ",
 'Said to involve a 1.5 m shark',
 'a school of sharks',
 "Said to involve a Grey nurse shark 3.7 m [12'] ",
 '"small shark"',
 "White shark, 2.7 m [9'], 280-lb ",
 "2.5' shark",
 'Lemon shark, 0.5 m',
 "2.4 m [8'] white shark, species identity confirmed by witnesses & tooth pattern in surfboard",
 "4 m [13'] white shark",
 'Gray reef shark',
 'Oceanic whitetip sharks were in the vicinity',
 "Grey nurse shark, 1.8 m [6']",
 "Tiger shark, 4 m [13'] ",
 "Mako shark, 3 m to 4 m [10' to 13'] ",
 "3' small spotted catshark, Scyliorhinus canicula",
 "White shark, 6 m [20']",
 "3.7 m [12'], 1200-lb shark. Shark caught & its jaw exhibited at the Carnegie Museum",
 'Shark seen feeding on turtle scraps thrown overboard prior to incident.',
 "4' to 8' shark",
 "Nurse shark, 10'",
 "3.7 m [12'] shark",
 "1.8 m to 2.7 m [6' to 9'] shark",
 "Grey nurse shark, 4' ",
 'Blue shark, 2m ',
 'Bull shark, 1.4m ',
 "Tiger shark, 8'",
 "Mako shark, 1.9 m [6.5']. Tooth fragment recovered & identified by J.T. Nichols.",
 'Porbeagle or white shark',
 '60 cm  shark ',
 "1.8 m to 2.4 m [6' to 8'] sharks, most were oceanic whitetip sharks",
 'C. maculpinnis or C. limbatus',
 'Allegedly a 33-foot shark',
 "13', 400-lb thresher shark",
 'Tiger shark, 8 to 12 feet',
 '6 m, 600-kg shark',
 'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
 'Lemon shark or sandtiger shark',
 'White shark, 6.5 m ',
 '1.5 m to 2 m shark',
 'Small shark with white-tipped dorsal fin',
 "14' to 16' white shark",
 "Atkins' remains were recovered from a dusky shark, C. obscurus, by Capt. W. F. Young, shark fisherman",
 "Carpet shark, 10' ",
 '4.3 m shark',
 "5 m [16.5'] white shark",
 'Grey nurse shark?',
 'Wobbegong',
 "8' white shark or 7-gill shark",
 "White shark, 5 m [16.5'], identified by Dr. W. I. Follett on tooth marks",
 'Bronze whaler shark',
 'Grey reef shark, 1.5 m ',
 '"a dog shark"',
 'Tiger shark?',
 "Tiger shark, 3 m [10']",
 'small blue shark',
 "Bull shark, 4.5' ",
 '3.6 m  white shark  (or bronze whaler)',
 "+3' shark",
 "Mako shark, 14' ",
 "Bronze whaler shark, 3.7 m [12'] identified by G.P. Whitley based on description",
 "Tiger shark, less than 10'",
 "8' shark",
 "White shark,4.6 m [15'] ",
 'Angel shark',
 "2.1 m to 2.4 m [7' to 8'] shark",
 'Blacktip Reef shark ',
 "0.9 m to 1.2 m [3' to 4'] shark",
 "5' to 8' shark",
 "14' to 18'shark",
 "Tiger shark, 4.6 m to 7.6 m [15' to 25'] ",
 '2.5 to 3 m shark',
 'small nurse shark',
 'Silvertip shark',
 'Nurse shark, 106 cm, 28-lb, male ',
 "3 m [10'] shark",
 'Blue shark, 8 to 9 feet',
 "Tiger shark, 10'  ",
 "Bronze whaler shark,  3m [10'] ",
 'White shark, identification by K. Nakaya',
 "Leopard shark, 3' Triakis semifasciata, identified by J.W. DeWitt (1955)",
 '8; 206-lb shark',
 "1.8 m [6'], 136-kg [300-lb] shark ",
 "2 m [6.75'] copper shark",
 'Survivors said 2 species of sharks were involved:  oceanic whitetip sharks and another species,',
 'Raggedtooth shark',
 'Thought to involve a Bronze whale shark, 2m',
 "3 m [10'] white shark (Tooth  recovered from boat)",
 '1.8 m blacktip "reef" shark',
 "Wobbegong shark, 4'",
 "6' shark",
 'juvenile white shark',
 'Identified as carcharinid shark (based on its behavior) by Dr. D.P. L. Schultz; mako shark according to Huges',
 'Oceanic whitetip shark',
 'Tiger shark caught 6 days later with diver\x92s remains in its gut',
 'Bull shark, 2.7 m ',
 "Raggedtooth shark, 1.2 m [4'] ",
 "Blacktip shark, 5' to 6' ",
 "2.5 m to 3 m [8.25' to 10']  white shark",
 "5' to 6' shark",
 "Tiger shark, >3 m [10']",
 'Port Jackson shark, 1m',
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 'White shark, 6 m',
 "Nurse shark, 2.1 m [7']",
 "1.5 m [5'] dusky shark",
 "1.8 m [6']  shark",
 "1.2 m [4'], possibly  larger shark",
 "Thought to involve a >2 m [6.75'] bull shark",
 '24" to 30" shark',
 "2.7 m [9'] shark later captured by Mitchell-Hedges",
 "Blacktip shark, 2 m [6.75'] ",
 'whaler shark',
 "0.9 m [3'] shark",
 "3 m [10'] blue whaler",
 "9.5' shark?",
 'Tawny nurse shark, 40cm',
 'Grey reef shark, 2 m',
 "According to Carlsmith, the shark's mouth was 3' wide",
 'a small reef shark',
 "2.4 m to 3 m [8' to 10'] grey colored shark",
 "7 m [23'] white shark",
 "White shark, 5.5 m [18']",
 "5' to 6' spinner or bull shark",
 'Tiger shark, 4 m, 420-kg, caught 13-Dec-1987',
 "Bronze whaler shark, 2 m to 3 m [6.75' to 10']  ",
 "Grey nurse shark, 1.5 m [5']",
 'Mako shark, 3m',
 "Hammerhead shark, 5.2 m [17'] ",
 "1.5 m [5'] Caribbean reef shark",
 'Thought to involve an oceanic whitetip shark or a white shark',
 "Tiger shark, 4.6 m [15'] ",
 "Lemon shark, 4'",
 "Possibly a  1.8 m [6'] Zambezi shark",
 '2 m shark, possibly a bronze whaler',
 "White shark, 5' k",
 "2.6 m [8.5'] shark landed 2 hours later",
 '270 kg shark',
 "4' to 5' shark",
 "3.7 m to 4.6 m [12' to 15'] shark",
 'white shark',
 "3.7 [12'] shark",
 "6' to 8' shark, possibly a tiger shark",
 '2 m [6\'9"] shark',
 '4.5  m [14\'9"] shark',
 'small carpet shark',
 "White shark, 3 m [10'], tooth fragment from wounds identified as that of a white shark",
 "Two shark's teeth recovered from canoe",
 'Possibly a sand shark',
 "Bull shark, 4' to 5'",
 "White shark, 3.5 m to 4 m [11.5' to 13'] ",
 'small catsharks',
 "Nurse shark, 3' ",
 '3 m white shark',
 "7' to 8' shark ",
 '250-lb female "blue fin" shark',
 "106 cm [3.5']  shark",
 "1.8 m to 2.4 m [6' to 8'] hammerhead shark",
 'White shark, based on 2 teeth retrieved from rudder',
 'Bull shark, 1.3 m',
 'White shark, 5m ',
 "1.5 m to 1.8 m [5' to 6']  blacktip shark",
 '"Tintorero"',
 'White shark, 2.8 to 3 m ',
 "10' shark",
 '1.8 metre shark',
 'Raggedtooth shark, 2 m [6\'9"], 5-year-old, captive female ',
 "2' to 3' reef shark",
 'Bronze whaler shark, 2.5m',
 "Tiger shark, 4 m [13'] female",
 "Remains found in  4.25 m  [14'] shark caught at Baker\x92s Haulover, Miami Beach on 26-Oct-1943",
 "Nurse shark, 1.1 m [3.5'] ",
 "Mako shark, 3 m [10']",
 'White shark or oceanic whitetip shark',
 "Sevengill shark, 14', was caught in the vicinity",
 'reef shark',
 'White shark, 3m to 4m',
 ">2.4 m [8'] shark",
 "Wobbegong shark, 1.5 m [5'] ",
 'Copper shark, 50-kg [110-b] ',
 "7 shark's teeth found embedded in the woodwork of the boat",
 '2.8 m [9\'3"] whaler shark captured 3 days later with his remains in its gut',
 'Seven-gill shark',
 "Sevengill shark, 6' to 8'",
 'Bull shark, 2m ',
 "5.5 m [18'] shark seen in the vicinity",
 'Shark involvement not confirmed; officials considered barracua',
 'Small shark',
 '2.1 m [7\'] shark with "a very flat head\x94 that had followed the boat for 3 days',
 'Tiger shark, 3 m ',
 "5' blue shark",
 "Tiger shark, 10' ",
 "7' to 8' shark",
 "White shark, 6 m [20'] ",
 "3.5 m [11.5'], 510-kg [1125-lb] hooked & shot white shark",
 'Large tiger shark',
 "White shark, 3.7 m to 4.6 m [12' to 15'] ",
 "Dusky shark, 2.7 m [9'] dusky shark C. obscurus identified by S. Springer on tooth recovered",
 'Bronze whaler',
 'Bull shark, 2.5 m',
 "White shark, 4.6 m [15'] ",
 'Possiby white shark',
 "Said to involved a 6 m to 7.3 m [20' to 24'] shark",
 "14' shark",
 "White shark, 4 to 5 m [13' to 16.5'] ",
 '"sandshark"',
 '2 days later a 600-lb shark was caught 100 yards from the site',
 '15* to 24" dog shark',
 'Said to involve a large mako shark',
 '1.5 m shark',
 "Tiger shark, 1.5 m [5'] ",
 "4' spinner shark",
 "Blacktip reef shark, 1.5 m [5'] ",
 'Blacktip reef shark pup',
 'said to involve an oceanic whitetip shark',
 'Oceanic whitetip shark, 2.5m ',
 'Starry smoothhound shark, 1m',
 'Wobbegongs',
 "2.4 m to 3 m [8' to 10'] white shark",
 "Lemon shark, 6'",
 '400-lb shark',
 "3 m [10'] gaffed shark",
 'Porbeagle',
 "2' shark",
 "10' to 12' shark",
 ' ',
 '2.6 m shark',
 "1.2 m to 1.5 m [4' to 5'] shark",

#### Conclusion y output

Mas de la mitad de los registros son desconocidos y de los que hay valores no NA, hay demasiada variacion en la forma de escribirlo y en la informacion que proporcionan, por lo que decido borrar la columna

In [48]:
df.drop("Species ",axis=1,inplace=True)

In [49]:
df

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Injury,Fatal (Y/N),Time,Investigator or Source,href formula
Casos,,,,,,,,,,,,,,
1,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,http://sharkattackfile.net/spreadsheets/pdf_di...
2,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,FATAL,Y,NaN,"The Sun, 10/20/1938",http://sharkattackfile.net/spreadsheets/pdf_di...
3,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
4,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",http://sharkattackfile.net/spreadsheets/pdf_di...
5,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5988,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,No injury: Knocked off board by shark,N,NaN,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
5989,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
5990,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,Lacerations to lower leg,N,10h43,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
5991,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,Lacerations to hands,N,11h00,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
5992,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,Minor injury to thigh,N,13h00,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...

### Columnas: "Date","Year","Time"

#### Analisis de las columnas, cosas en comun y diferencias

In [50]:
# Vamos con las columnas de Date,year y time
#Objetivo unificar a una sola tabla
df[["Date","Year", "Time"]].head(5)

              Date  Year Time
Casos
1        1845-1853     0  NaN
2        1883-1889     0  NaN
3        1900-1905     0  NaN
4      Before 1903     0  NaN
5      Before 1903     0  NaN

In [51]:
df[["Date","Year", "Time"]].isna().sum()

Date       0
Year       0
Time    3213
dtype: int64

#### Agrupacion de las tres columnas en una

In [52]:
#Con tantos valor nulo en Time, la borramos
df.drop("Time",axis=1,inplace=True)

In [53]:
#Analizamos la variable Date
df["Date"].nunique()

5128

In [54]:
#la columna Date es tipo objeto con demasiados valores unicos, decido agruparla en la columna Año ya que no hay suficientes registros con los dias y los meses
df.Date.sample(n=9)

Casos
1796           1952
735          Jul-05
4337      03-Mar-02
520     21-Jul-1889
5177      15-Feb-10
1747      25-Jun-50
4608      05-Mar-05
2428      30-Sep-62
4486      14-Oct-03
Name: Date, dtype: object

In [55]:
#Esta columna ya son valores int, el problema son los casos ocurridos en el 0
df.Year.value_counts()

2015    139
2011    128
2014    125
0       124
2013    122
       ...
1854      1
1850      1
1846      1
1834      1
1554      1
Name: Year, Length: 232, dtype: int64

**La cantidad de valores nulos y de valores diferentes de las columna Time y Date no lo veo aprovechable, me quedo con los años**

In [56]:
#Opciones con los años 0: Borrar esos registros, poner la media o la mediana
mediana=df.Year.median()
#elijo la mediana ya que creo que es mas correcto

In [57]:
#Creo una funcion para que me cambie los valores 0 por la mediana de los años
def años(año):
    if año==0:
        return int(mediana)
    else:
        return año

In [58]:
#aplico la funcion que cambiara los valores 0 al valor de la mediana
df["Year"]=df["Year"].apply(años)

In [59]:
df.Year.value_counts()

1975    173
2015    139
2011    128
2014    125
2013    122
       ...
1850      1
1846      1
1834      1
1822      1
1554      1
Name: Year, Length: 231, dtype: int64

In [60]:
#elimino la columna Date
df.drop("Date",axis=1,inplace=True)

### Columnas: "Name" y "Sex "

#### Analisis inicial de las columnas

In [61]:
#Primero le quito el espacion al nombre de la columna "Sex "
df.columns=(['Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name',
       'Sex', 'Injury', 'Fatal (Y/N)', 'Investigator or Source',
       'href formula'])

In [62]:
df[["Sex","Name"]].isna().sum()

Sex     567
Name    200
dtype: int64

In [63]:
#Analisis de la columna name
df["Name"].nunique()

5009

In [64]:
#Demasiada variedad en el formato y en las anotaciones, otra columna que borramos y agruparemos por sexo
df["Name"].sample(n=8)

Casos
857                                                  male
1797                                     Kiaploki, a male
4575                                         Megan Durham
5277                                        Metereti Jeke
1347    22' boat, occupants: Saul White & Charles Dill...
5776                                         Rick Neumann
2302                                     James K. Stewart
4192                                       Margaret White
Name: Name, dtype: object

In [65]:
df[df["Sex"].isna()]

,Year,Type,Country,Area,Location,Activity,Name,Sex,Injury,Fatal (Y/N),Investigator or Source,href formula
Casos,,,,,,,,,,,,
15,1975,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,"FATAL, 18 people were killed by sharks, 2 sur...",Y,"Fijian Society papers presented April 17, 1918...",http://sharkattackfile.net/spreadsheets/pdf_di...
24,1975,Unprovoked,REUNION,Saint-Denis,Barachois,Swimming,NaN,NaN,FATAL,Y,G. Van Grevelynghe,http://sharkattackfile.net/spreadsheets/pdf_di...
43,1975,Sea Disaster,NaN,NaN,NaN,A group of survivors on a raft for 17-days,C.,NaN,"FATAL, shark leapt into raft and bit the man w...",Y,"G.A. Llano in Airmen Against the Sea, p.69",http://sharkattackfile.net/spreadsheets/pdf_di...
65,1975,Unprovoked,SINGAPORE,NaN,"Keppel Harbor, 2 miles from Singapore city ce...",Swimming,NaN,NaN,Recovered,N,"V.M. Coppleson (1958), p.266",http://sharkattackfile.net/spreadsheets/pdf_di...
83,1975,Unprovoked,SOLOMON ISLANDS,Malaita Province,Waibana Passage,Diving,Albert Raiti,NaN,Lacerations to hands and knee,N,"Islands Magazine, 2/1998, p.76",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...
5767,2015,Boat,ATLANTIC OCEAN,NaN,NaN,Transatlantic Rowing,"Avalon, a carbon kevlar monohull: 8 occupants",NaN,"No injury, shark bit rudder",N,"Yorkshire Post, 3/16/2014",http://sharkattackfile.net/spreadsheets/pdf_di...
5883,2015,Boat,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,6 m boat: occupants Stephen & Andrew Crust,NaN,"No injury, shark rammed boat & bit motor",N,"Courier Mail, 12/15/2015",http://sharkattackfile.net/spreadsheets/pdf_di...
5911,2016,Invalid,USA,California,"Bolsa Chica State Park, Orange County",Surfing,unknown,NaN,Board reportedly bumped by shark. No injury,N,"Orange County Register, 3/13/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
5963,2016,Boat,USA,Alabama,8 miles off Mobile,Fishing in Alabama Deep Fishing Rodeo,Occupant: Ben Raines,NaN,"No injury, shark bit trolling motor",N,"Al.com, 7/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
5987,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,Shark rammed boat. No injury to occupant,N,"West Australian, 9/15/2016",http://sharkattackfile.net/spreadsheets/pdf_di...

In [66]:
#Vamos a analizar los valores
set(df["Sex"])

{'.', 'F', 'M', 'M ', 'N', 'lli', nan}

In [67]:
df["Sex"].value_counts()
#Homogenizamos los M, y el resto

M      4835
F       585
M         2
.         1
N         1
lli       1
Name: Sex, dtype: int64

####  Conclusiones y cambios

In [68]:
#Los M con espacio los agrupo en "M", los valores "lli","." y "N" asi como los valores nulos iran a ND(No determinado)
def genero(x):
    if x=="M ":
        return "M"
    elif x=="M" or x=="F":
        return x
    else:
        return "ND"

In [69]:
df["Sex"]=df["Sex"].apply(genero)

In [70]:
#Borramos la columna name
df.drop("Name",axis=1,inplace=True)

### Columnas: "Injury" y "Fatal (Y/N) "

#### Analisis inicial de las columnas

In [71]:
df[["Injury","Fatal (Y/N)"]].isna().sum()

Injury         27
Fatal (Y/N)    19
dtype: int64

In [72]:
#cantidad de valores tiene cada uno
df[["Injury","Fatal (Y/N)"]].nunique()

Injury         3595
Fatal (Y/N)       8
dtype: int64

In [73]:
#No veo relevante el tantas categorias en injury
df[["Injury","Fatal (Y/N)"]].isna().sum()

Injury         27
Fatal (Y/N)    19
dtype: int64

####  Conclusiones y cambios

In [74]:
# No encuentro patron por lo que eliminaremos esta columna
df["Injury"].sample(n=5)

Casos
2006                 Injured by shark
4486                      Foot bitten
2863                   Bitten on legs
5279    Severe injury to left forearm
251                             FATAL
Name: Injury, dtype: object

In [75]:
#vamos a ver los valores de fatal
df["Fatal (Y/N)"].value_counts()

N          4315
Y          1552
UNKNOWN      94
 N            8
F             1
#VALUE!       1
N             1
n             1
Name: Fatal (Y/N), dtype: int64

Clasificacion de los valores:
- N: No es fatal, sobrevive
- Y: Fatal, No sobrevive
- UNKNOWN: Desconocido
- #VALUE!: Desconocido
- F: Fatal, no sobrevive
Creo una funcion para modificar los valores

In [76]:
#Vamos a cambiar los valores a: Si, No, Desconocido
def fatal(x):
    if x=="N" or x=="N " or x==" N" or x=="n":
        return "Sobrevive"
    elif x=="Y" or x=="F":
        return "No sobrevive"
    else:
        return "Desconocido"

In [77]:
#Aplicamos la funcion y cambio el nombre de la columna
df["Supervivencia"]=df["Fatal (Y/N)"].apply(fatal)

In [78]:
#Borramos las columnas de injury y fatal
df.drop(["Injury","Fatal (Y/N)"],axis=1,inplace=True)

### Columnas: "Activity"

#### Analisis inicial de las columnas

In [79]:
df.Activity.nunique()

1492

####  Conclusiones y cambios

In [80]:
#Elijo las 14 mas comunes y el resto y los NA los clasificare como Otra actividad
lista=df["Activity"].value_counts().head(14)

In [81]:
#Funcion para cambiar los valores
def actividad(x):
    if x in lista:
        return x
    else:
        return "Otra actividad"

In [82]:
#Cambio los valores
df["Activity"]=df["Activity"].apply(actividad)

### Columnas:  "Type"

#### Analisis inicial de las columnas

In [83]:
#No hay valores nulos
df.Type.isna().sum()

0

In [84]:
df["Type"].nunique()

6

In [85]:
df["Type"].value_counts()

Unprovoked      4386
Provoked         557
Invalid          519
Sea Disaster     220
Boat             200
Boating          110
Name: Type, dtype: int64

####  Conclusiones y cambios

In [86]:
#Junto los valores de Boat y boating en Boat
def typeBoat(x):
    if x=="Boating":
        return "Boat"
    else:
        return x

In [87]:
df["Type"]=df["Type"].apply(typeBoat)

In [88]:
df.Type.value_counts()

Unprovoked      4386
Provoked         557
Invalid          519
Boat             310
Sea Disaster     220
Name: Type, dtype: int64

### Columna: "Investigator or Source"

#### Analisis inicial de las columnas

In [90]:
#Hay muy pocos valores na
df["Investigator or Source"].isna().sum()

15

In [91]:
#Hay demasiados valores unicos
df["Investigator or Source"].nunique()

4752

In [92]:
df["Investigator or Source"].sample(n=10)

Casos
1756    Evening Sun (Baltimore), 8/11/1950; Long Beach...
2720                                (1994) SAF Case #1524
5550                                  ABC News, 6/18/2013
174                       Times of London, 8/5/1822, p. 2
4885                                            wsbtv.com
2886                            Canberra Times, 6/26/1972
1668     A. M. Rapson, p.147; D. Baldridge, pp.128 & 261
824                          Poverty Bay Herald, 3/9/1910
2156                            Times of India, 9/10/1959
785                         Dawson Daily News, 11/20/1907
Name: Investigator or Source, dtype: object

Por lo que veo aparece el autor o la revista, la pagina y la fecha pero con diferentes formatos
- Opcion de rellenar los na como desconocido

In [244]:
df

,Year,Type,Country,Area,Location,Activity,Sex,Investigator or Source,Pdf,Supervivencia
Casos,,,,,,,,,,
1,1975,Unprovoked,SRI LANKA,Eastern Province,"Below the English fort, Trincomalee",Swimming,M,S.W. Baker,http://sharkattackfile.net/spreadsheets/pdf_di...,No sobrevive
2,1975,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",Otra actividad,M,"The Sun, 10/20/1938",http://sharkattackfile.net/spreadsheets/pdf_di...,No sobrevive
3,1975,Unprovoked,UNITED STATES,North Carolina,Ocracoke Inlet,Swimming,M,"F. Schwartz, p.23; C. Creswell, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,No sobrevive
4,1975,Unprovoked,AUSTRALIA,Western Australia,NaN,Otra actividad,M,"H. Taunton; N. Bartlett, pp. 233-234",http://sharkattackfile.net/spreadsheets/pdf_di...,No sobrevive
5,1975,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,"H. Taunton; N. Bartlett, p. 234",http://sharkattackfile.net/spreadsheets/pdf_di...,No sobrevive
...,...,...,...,...,...,...,...,...,...,...
5988,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,Sobrevive
5989,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,Sobrevive
5990,2016,Unprovoked,UNITED STATES,Florida,"New Smyrna Beach, Volusia County",Surfing,M,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,Sobrevive
5991,2016,Unprovoked,UNITED STATES,Florida,"New Smyrna Beach, Volusia County",Surfing,M,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,Sobrevive
5992,2016,Unprovoked,UNITED STATES,Florida,"New Smyrna Beach, Volusia County",Surfing,M,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,Sobrevive

In [155]:
df["Country"].apply(pais).value_counts()

No especificado             2475
AUSTRALIA                   1279
SOUTH AFRICA                 565
PAPUA NEW GUINEA             133
NEW ZEALAND                  125
                            ...
SLOVENIA                       1
NORTHERN MARIANA ISLANDS       1
SWEDEN                         1
MONACO                         1
ALGERIA                        1
Name: Country, Length: 114, dtype: int64

In [199]:
"SPAIN" in country_list

False

In [157]:
for i in country_list:
    if i=="CEYLON":
        print("SI")

In [212]:
country_list[country_list.str.startswith("B")]

16                           BAHAMAS
17                           BAHRAIN
18                        BANGLADESH
19                          BARBADOS
20                           BELARUS
21                           BELGIUM
22                            BELIZE
23                             BENIN
24                           BERMUDA
25                            BHUTAN
26                           BOLIVIA
27                           BONAIRE
28            BOSNIA AND HERZEGOVINA
29                          BOTSWANA
30                     BOUVET ISLAND
31                            BRAZIL
32    BRITISH INDIAN OCEAN TERRITORY
33                 BRUNEI DARUSSALAM
34                          BULGARIA
35                      BURKINA FASO
36                           BURUNDI
Name: Name, dtype: object

### Columnas: "Pais"

#### Analisis inicial de las columnas

In [134]:
#Observamos la cantidad de valores nulos que hay
(df["Country"]).isna().sum()

0

In [133]:
#Rellenamos los na con un grupo de "No determinado"
df["Country"].fillna("No determinado",inplace=True)

####  Limpieza de los valores:
Observo que en los inicios hay espacios, hay ?, primero limpiar los nombres y despues buscar si existe el pais
Objetivo: comprobar si existen y si no existen añadir como No determinado, antes borrar espacios iniciales y finales y quitar ?¿ç

In [222]:
#Primero lo convierto todo a mayusculas
df["Country"]=df["Country"].str.upper()

In [223]:
#Identifico los paises que empiezan con espacio y se lo quito
df[df["Country"].str.startswith(" ")]["Country"]
#Solo son PHILIPPINES Y TONGA, los modifico 
df.replace({" PHILIPPINES":"PHILIPPINES"," TONGA":"TONGA"},inplace=True)

In [206]:
#Identifico los paises que acaban con espacio y se lo quito
df[df["Country"].str.endswith(" ")]["Country"]
df.replace({"YEMEN ":"YEMEN",
            "EGYPT ":"EGYPT",
           "NORTH ATLANTIC OCEAN ":"NORTH ATLANTIC OCEAN",
           "NICARAGUA ":"NICARAGUA",
            "PACIFIC OCEAN ":"PACIFIC OCEAN",
            "MEXICO ":"MEXICO"
           },inplace=True)

In [204]:
#Identifico los valores que tienen ? y los modifico
for i in df["Country"]:
    if re.findall("[?]",i):
        print(i)

YEMEN
YEMEN
YEMEN
YEMEN
YEMEN
EGYPT
EGYPT
YEMEN
YEMEN
NORTH ATLANTIC OCEAN
NICARAGUA
PACIFIC OCEAN
PACIFIC OCEAN
MEXICO

In [194]:
df.replace({"ASIA?":"ASIA",
            "RED SEA?":"RED SEA",
            "INDIAN OCEAN?":"INDIAN OCEAN",
            "MEDITERRANEAN SEA?":"MEDITERRANEAN SEA",
           "SUDAN?":"SUDAN"},inplace=True)

####  Existen como paises los valores?
los nombres de los paises ya estan limpios, vamos a comprobar si existen 
[Github del csv](https://github.com/datasets/country-list/blob/master/data.csv#L119)

In [215]:
#Descargo de github un csv con todos los paises del mundo en ingles, viene con indice y codigo asi que creo una lista con los paises
lista_paises=pd.read_csv("paises.csv")
lista_paises=list(lista_paises["Name"])

In [225]:
#Convierto los nombres a mayuscula y los pongo en una lista
lista=[]
for i in lista_paises:
    lista.append(i.upper())
lista_paises=lista

In [226]:
lista_paises

['AFGHANISTAN',
 'ÅLAND ISLANDS',
 'ALBANIA',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDORRA',
 'ANGOLA',
 'ANGUILLA',
 'ANTARCTICA',
 'ANTIGUA AND BARBUDA',
 'ARGENTINA',
 'ARMENIA',
 'ARUBA',
 'AUSTRALIA',
 'AUSTRIA',
 'AZERBAIJAN',
 'BAHAMAS',
 'BAHRAIN',
 'BANGLADESH',
 'BARBADOS',
 'BELARUS',
 'BELGIUM',
 'BELIZE',
 'BENIN',
 'BERMUDA',
 'BHUTAN',
 'BOLIVIA',
 'BONAIRE',
 'BOSNIA AND HERZEGOVINA',
 'BOTSWANA',
 'BOUVET ISLAND',
 'BRAZIL',
 'BRITISH INDIAN OCEAN TERRITORY',
 'BRUNEI DARUSSALAM',
 'BULGARIA',
 'BURKINA FASO',
 'BURUNDI',
 'CAMBODIA',
 'CAMEROON',
 'CANADA',
 'CAPE VERDE',
 'CAYMAN ISLANDS',
 'CENTRAL AFRICAN REPUBLIC',
 'CHAD',
 'CHILE',
 'CHINA',
 'CHRISTMAS ISLAND',
 'COCOS (KEELING) ISLANDS',
 'COLOMBIA',
 'COMOROS',
 'CONGO',
 'DEMOCRATIC REPUBLIC OF THE CONGO',
 'COOK ISLANDS',
 'COSTA RICA',
 "CÔTE D'IVOIRE",
 'CROATIA',
 'CUBA',
 'CURAÇAO',
 'CYPRUS',
 'CZECH REPUBLIC',
 'DENMARK',
 'DJIBOUTI',
 'DOMINICA',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EL SALVADOR',
 'EQUATORIAL GUINEA',
 'ERITREA',
 'ESTONIA',
 'ETHIOPIA',
 'FALKLAND ISLANDS (MALVINAS)',
 'FAROE ISLANDS',
 'FIJI',
 'FINLAND',
 'FRANCE',
 'FRENCH GUIANA',
 'FRENCH POLYNESIA',
 'FRENCH SOUTHERN TERRITORIES',
 'GABON',
 'GAMBIA',
 'GEORGIA',
 'GERMANY',
 'GHANA',
 'GIBRALTAR',
 'GREECE',
 'GREENLAND',
 'GRENADA',
 'GUADELOUPE',
 'GUAM',
 'GUATEMALA',
 'GUERNSEY',
 'GUINEA',
 'GUINEA-BISSAU',
 'GUYANA',
 'HAITI',
 'HEARD ISLAND AND MCDONALD ISLANDS',
 'HOLY SEE (VATICAN CITY STATE)',
 'HONDURAS',
 'HONG KONG',
 'HUNGARY',
 'ICELAND',
 'INDIA',
 'INDONESIA',
 'IRAN',
 'IRAQ',
 'IRELAND',
 'ISLE OF MAN',
 'ISRAEL',
 'ITALY',
 'JAMAICA',
 'JAPAN',
 'JERSEY',
 'JORDAN',
 'KAZAKHSTAN',
 'KENYA',
 'KIRIBATI',
 'SOUTH KOREA',
 'NORTH KOREA',
 'KUWAIT',
 'KYRGYZSTAN',
 "LAO PEOPLE'S DEMOCRATIC REPUBLIC",
 'LATVIA',
 'LEBANON',
 'LESOTHO',
 'LIBERIA',
 'LIBYA',
 'LIECHTENSTEIN',
 'LITHUANIA',
 'LUXEMBOURG',
 'MACAO',
 'MACEDONIA',
 'MADAGASCAR',
 'MALAWI',
 'MALAYSIA',
 'MALDIVES',
 'MALI',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITANIA',
 'MAURITIUS',
 'MAYOTTE',
 'MEXICO',
 'MICRONESIA',
 'MOLDOVA',
 'MONACO',
 'MONGOLIA',
 'MONTENEGRO',
 'MONTSERRAT',
 'MOROCCO',
 'MOZAMBIQUE',
 'MYANMAR',
 'NAMIBIA',
 'NAURU',
 'NEPAL',
 'NETHERLANDS',
 'NEW CALEDONIA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NIGER',
 'NIGERIA',
 'NIUE',
 'NORFOLK ISLAND',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OMAN',
 'PAKISTAN',
 'PALAU',
 'PALESTINE',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERU',
 'PHILIPPINES',
 'PITCAIRN',
 'POLAND',
 'PORTUGAL',
 'PUERTO RICO',
 'QATAR',
 'RÉUNION',
 'ROMANIA',
 'RUSSIAN FEDERATION',
 'RWANDA',
 'SAINT BARTHÉLEMY',
 'SAINT HELENA',
 'SAINT KITTS AND NEVIS',
 'SAINT LUCIA',
 'SAINT MARTIN (FRENCH PART)',
 'SAINT PIERRE AND MIQUELON',
 'SAINT VINCENT AND THE GRENADINES',
 'SAMOA',
 'SAN MARINO',
 'SAO TOME AND PRINCIPE',
 'SAUDI ARABIA',
 'SENEGAL',
 'SERBIA',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SINT MAARTEN (DUTCH PART)',
 'SLOVAKIA',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS',
 'SOUTH SUDAN',
 'SPAIN',
 'SRI LANKA',
 'SUDAN',
 'SURINAME',
 'SVALBARD AND JAN MAYEN',
 'SWAZILAND',
 'SWEDEN',
 'SWITZERLAND',
 'SYRIAN ARAB REPUBLIC',
 'TAIWAN',
 'TAJIKISTAN',
 'TANZANIA',
 'THAILAND',
 'TIMOR-LESTE',
 'TOGO',
 'TOKELAU',
 'TONGA',
 'TRINIDAD AND TOBAGO',
 'TUNISIA',
 'TURKEY',
 'TURKMENISTAN',
 'TURKS AND CAICOS ISLANDS',
 'TUVALU',
 'UGANDA',
 'UKRAINE',
 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM',
 'UNITED STATES',
 'UNITED STATES MINOR OUTLYING ISLANDS',
 'URUGUAY',
 'UZBEKISTAN',
 'VANUATU',
 'VENEZUELA',
 'VIET NAM',
 'VIRGIN ISLANDSVG',
 'VIRGIN ISLANDS',
 'WALLIS AND FUTUNA',
 'WESTERN SAHARA',
 'YEMEN',
 'ZAMBIA',
 'ZIMBABWE']

In [208]:
#Vamos a ver los paises que no identifica para ver cuales podemos solucionar y cuales no
for i in set(df["Country"]):
    if i in list(country_list):
        continue
    else:
        print(i)

CEYLON (SRI LANKA)
MID-PACIFC OCEAN
ASIA
PERSIAN GULF
SAN DOMINGO
NEW BRITAIN
TRINIDAD & TOBAGO
NORTH SEA
UNITED ARAB EMIRATES (UAE)
SOUTH PACIFIC OCEAN
FALKLAND ISLANDS
SOUTHWEST PACIFIC OCEAN
OKINAWA
EQUATORIAL GUINEA / CAMEROON
BRITISH ISLES
NETHERLANDS ANTILLES
GULF OF ADEN
BURMA
BRITISH NEW GUINEA
THE BALKANS
FEDERATED STATES OF MICRONESIA
PACIFIC OCEAN
MEDITERRANEAN SEA
MALDIVE ISLANDS
ANDAMAN / NICOBAR ISLANDAS
TASMAN SEA
REUNION
BAY OF BENGAL
BAHREIN
ATLANTIC OCEAN
DIEGO GARCIA
TURKS & CAICOS
PALESTINIAN TERRITORIES
SYRIA
NO DETERMINADO
JAVA
RUSSIA
GRAND CAYMAN
NEVIS
ST. MAARTIN
JOHNSTON ISLAND
ST. MARTIN
NORTH PACIFIC OCEAN
ENGLAND
ST HELENA
ANTIGUA
NORTH ATLANTIC OCEAN
BRITISH WEST INDIES
AZORES
IRAN / IRAQ
SCOTLAND
SOUTH ATLANTIC OCEAN
SOLOMON ISLANDS / VANUATU
SOUTH CHINA SEA
COLUMBIA
RED SEA
BETWEEN PORTUGAL & INDIA
ADMIRALTY ISLANDS
WESTERN SAMOA
CENTRAL PACIFIC
OCEAN
EGYPT / ISRAEL
COAST OF AFRICA
CRETE
ITALY / CROATIA
KOREA
VIETNAM
BRITISH VIRGIN ISLANDS
NORTHERN ARABIAN SEA
INDIAN OCEAN
USA
CARIBBEAN SEA
RED SEA / INDIAN OCEAN
NEW GUINEA
CURACAO
MID ATLANTIC OCEAN

**MODIFICACIONES sobre la lista de paises que no aparecen** {Como salen: Transformacion} (ND=no determinado)
1. CEYLON (SRI LANKA): SRI LANKA
1. MID-PACIFC OCEAN:ND
1. ASIA:ND
1.  PERSIAN GULF: ND
1.  SAN DOMINGO: DOMINICAN REPUBLIC
1.  NEW BRITAIN: ND
1.  TRINIDAD & TOBAGO: TRINIDAD AND TOBAGO
1.  NORTH SEA: ND
1.  UNITED ARAB EMIRATES (UAE): 'UNITED ARAB EMIRATES'
1.  SOUTH PACIFIC OCEAN: ND
1.  FALKLAND ISLANDS: 'FALKLAND ISLANDS (MALVINAS)'
1.  SOUTHWEST PACIFIC OCEAN: ND
1.  OKINAWA: JAPAN
1.  EQUATORIAL GUINEA / CAMEROON: ND
1.  BRITISH ISLES: ND
1.  NETHERLANDS ANTILLES: ND
1.  GULF OF ADEN: YEMEN
1.  BURMA: MYANMAR
1.  BRITISH NEW GUINEA: ND
1.  THE BALKANS: ND
1.  FEDERATED STATES OF MICRONESIA: MICRONESIA
1.  PACIFIC OCEAN: ND
1.  MEDITERRANEAN SEA: ND
1.  MALDIVE ISLANDS: MALDIVES
1.  ANDAMAN / NICOBAR ISLANDAS: INDIA
1.  TASMAN SEA: AUSTRALIA
1.  REUNION: FRANCE
1.  BAY OF BENGAL:INDIA
1.  BAHREIN: BAHRAIN
1.  ATLANTIC OCEAN: ND
1.  DIEGO GARCIA: ND
1.  TURKS & CAICOS: ND PERO MUY BONITO
1.  PALESTINIAN TERRITORIES: PALESTINE
1.  SYRIA: 'SYRIAN ARAB REPUBLIC'
1.  NO DETERMINADO
1.  JAVA: INDONESIA
1.  RUSSIA: RUSSIAN FEDERATION
1.  GRAND CAYMAN: CAYMAN ISLANDS'
1.  NEVIS: ND
1.  ST. MAARTIN: 'SAINT MARTIN (FRENCH PART)'
1.  JOHNSTON ISLAND: ND
1.  ST. MARTIN: 'SAINT MARTIN (FRENCH PART)'
1.  NORTH PACIFIC OCEAN: ND
1.  ENGLAND:'UNITED KINGDOM'
1.  ST HELENA: 'SAINT HELENA'
1.  ANTIGUA: 'ANTIGUA AND BARBUDA'
1.  NORTH ATLANTIC OCEAN: ND
1.  BRITISH WEST INDIES: ND
1.  AZORES: PORTUGAL
1.  IRAN / IRAQ: ND
1.  SCOTLAND: UNITED KINGDOM
1.  SOUTH ATLANTIC OCEAN: ND
1.  SOLOMON ISLANDS / VANUATU: ND
1.  SOUTH CHINA SEA: CHINA
1.  COLUMBIA: COLOMBIA
1.  RED SEA: ND
1.  BETWEEN PORTUGAL & INDIA: ND
1.  ADMIRALTY ISLANDS: ND
1.  WESTERN SAMOA: SAMOA
1.  CENTRAL PACIFIC: ND
1.  OCEAN: ND
1.  EGYPT / ISRAEL: ND
1.  COAST OF AFRICA: ND
1.  CRETE: GREECE
1.  ITALY / CROATIA: ND
1.  KOREA: ND
1.  VIETNAM: VIET NAM
1.  BRITISH VIRGIN ISLANDS: ND
1.  NORTHERN ARABIAN SEA: ND
1.  INDIAN OCEAN: ND
1.  USA: 'UNITED STATES'
1.  CARIBBEAN SEA: ND
1.  RED SEA / INDIAN OCEAN: ND
1.  NEW GUINEA: GUINEA
1.  CURACAO: BRAZIL
1.  MID ATLANTIC OCEAN: ND

In [233]:
#Hacemos las modificaciones en el dataset
df.replace({"CEYLON (SRI LANKA)": "SRI LANKA",
            "SAN DOMINGO": "DOMINICAN REPUBLIC",
            "TRINIDAD & TOBAGO": "TRINIDAD AND TOBAGO",
            "UNITED ARAB EMIRATES (UAE)": "UNITED ARAB EMIRATES",
           "FALKLAND ISLANDS": "FALKLAND ISLANDS (MALVINAS)",
            "OKINAWA": "JAPAN",
           "GULF OF ADEN": "YEMEN",
            "BURMA": "MYANMAR",
           "FEDERATED STATES OF MICRONESIA": "MICRONESIA",
            "MALDIVE ISLANDS": "MALDIVES",
           "ANDAMAN / NICOBAR ISLANDAS": "INDIA",
            "TASMAN SEA": "AUSTRALIA",
            "REUNION":"FRANCE",
            "BAY OF BENGAL":"INDIA",
            "BAHREIN":"BAHRAIN",
           "PALESTINIAN TERRITORIES":"PALESTINE",
            "SYRIA": 'SYRIAN ARAB REPUBLIC',
            "JAVA": "INDONESIA",
            "RUSSIA": "RUSSIAN FEDERATION",
            "GRAND CAYMAN": "CAYMAN ISLANDS",
            "ST. MAARTIN": 'SAINT MARTIN (FRENCH PART)',
            "ST. MARTIN": 'SAINT MARTIN (FRENCH PART)',
            "ENGLAND":'UNITED KINGDOM',
            "ST HELENA": 'SAINT HELENA',
            "ANTIGUA": 'ANTIGUA AND BARBUDA',
              "AZORES": "PORTUGAL",
            "SCOTLAND": "UNITED KINGDOM",
            "SOUTH CHINA SEA": "CHINA",
            "COLUMBIA": "COLOMBIA",
            "WESTERN SAMOA": "SAMOA",
            "CRETE": "GREECE",
            "VIETNAM": "VIET NAM",
            "USA": 'UNITED STATES',
            "NEW GUINEA": "GUINEA",
            "CURACAO": "BRAZIL"
            
           },inplace=True)

In [235]:
#Los paises que no estan bien escritos los añadimos a No determinado
for i in set(df["Country"]):
    if i in list(country_list):
        continue
    else:
        df.replace({i:"No determinado"},inplace=True)

In [238]:
#Comprobamos
df["Country"].value_counts()

UNITED STATES           2116
AUSTRALIA               1280
SOUTH AFRICA             565
No determinado           174
PAPUA NEW GUINEA         133
                        ...
SYRIAN ARAB REPUBLIC       1
CYPRUS                     1
COOK ISLANDS               1
GABON                      1
PUERTO RICO                1
Name: Country, Length: 128, dtype: int64